@charset "utf-8";
#leftContainer{
	width:35%;
	height:100%;
	background-color:#F4F1F6;
	float:left;
	overflow:auto;
	padding:20px 0 0 100px;
	position:relative
}

.appContainer{
	margin-top:20px;
	width:310px;
}

.appointment{
	width:310px;
	height:90px;
	border-radius:8px;
	overflow:hidden;
	padding:15px 0 0 15px;
}

.appointment:hover {
	background-color:rgba(255,255,255,0.3);
	box-shadow: 5px 10px 10px #E1E1E1;
}

#rightContainer{
	width:65%;
	height:100%;
	background-color:blue;
	float:left;
	overflow:auto;
}