@charset "utf-8";
#leftContainer{
	width:35%;
	height:100%;
	background-color:#F4F1F6;
	float:left;
	overflow:auto;
	padding:20px 0 0 100px;
	position:relative
}

#upAppContainer{
	margin-top:20px;
	width:100%;
}

.upAppoint{
	width:310px;
	height:90px;
	background-color:white;
	border-radius:8px;
	box-shadow: 5px 10px 10px #E1E1E1;
	overflow:hidden;
	padding:15px 0 0 15px;
	margin-top:20px
}

#rightContainer{
	width:65%;
	height:100%;
	background-color:blue;
	float:left;
	overflow:auto;
}